<div class="component">
  <div class="information">
    <div class="header"> HTTP 404 Page not found :(</div>
    <div class="current-location" *ngIf="currentLocation"> {{currentLocation}} </div>
    <div class="flex-row">

      <div class="link-button previous-page" (click)="displayPreviousPage()">
        <i class="fas fa-arrow-circle-left"></i><div class="link-button__text"> Go back</div>
      </div>
      <div class="link-button home" [routerLink]="['/']">
        <i class="fas fa-home"></i><div class="link-button__text"> Go home</div>
      </div>

    </div>
  </div>
</div>
