@import "../../../variables";

.nav {
  background-color: $primary-graphite;
  padding: $global-padding;
  color: $primary-whitesmoke;
}

.button {
  color: $primary-whitesmoke;
  background-color: transparent;
}

.main-links {
  .button:hover {
    background-color: $primary-graphite--lighter;
  }
}

.button--sign-up {
  background-color: $accent-cork;
  color: $primary-graphite--lighter;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: bolder;
}

.button--sign-up:hover {
  background-color: $accent-cork--lighter !important;
}

.button--home {
  font-size: 36px;
  padding: 0px;
  color: $accent-cork;
  font-family: 'Odibee Sans';
}


