<nav class="flex-row flex-row--space-between">
  <div class="flex-item">
    <div class="link-button home" [routerLink]="['/']"> the Cookbook </div>
  </div>
  <div class="flex-item flex-row">
    <div class="link-button dev-log" [routerLink]="['/dev-log']"> Dev Log </div>
    <div class="link-button blog" [routerLink]="['/blog']"> Blog </div>
    <div class="link-button my-cookbook" [routerLink]="['/my-cookbook']"> My Cookbook </div>
    <div class="link-button recipes" [routerLink]="['/recipes']"> Recipes </div>
    <div class="link-button log-in" [routerLink]="['/log-in']"> Log In </div>
    <div class="link-button log-out" [routerLink]="['/log-out']"> Log Out </div>
    <div class="link-button sign-up" [routerLink]="['/sign-up']"> Create an account </div>
  </div>
</nav>
