<nav class="flex-row flex-row--space-between nav">
  <div class="flex-item">
    <button class="button button--home" [routerLink]="['/']"> the Cookbook </button>
  </div>
  <div class="flex-item flex-row main-links">
    <button class="button" [routerLink]="['/dev-log']"> Dev Log </button>
    <button class="button" [routerLink]="['/blog']"> Blog </button>
    <button class="button" [routerLink]="['/my-cookbook']"> My Cookbook </button>
    <button class="button" [routerLink]="['/recipes']"> Recipes </button>
    <button class="button" [routerLink]="['/log-in']"> Log In </button>
    <button class="button" [routerLink]="['/log-out']"> Log Out </button>
    <button class="button button--sign-up" [routerLink]="['/sign-up']"> Open a new cookbook </button>
  </div>
</nav>
