@import "../../../variables";

nav {
  background-color: $primary-color-2;
  padding: $component-padding;
  color: $light-font;
}

.flex-row--space-between {
  justify-content: space-between;
}

.link-button:hover {
  color: $darker-light-font;
}

.link-button.sign-up {
  background-color: $accent-color;
}

.link-button.home {
  font-size: 36px;
  padding: 0px;
  color: $accent-color;
  font-family: 'Odibee Sans';
}
