<div class="component">
  <div class="flex-row flex-row--vertical-center">
    <div class="flex-column">
      <div class="fb-page" data-href="https://www.facebook.com/theCookbookDevLog" data-tabs="timeline" data-width="500"
        data-height="800" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true"
        data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/theCookbookDevLog" class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/theCookbookDevLog">The Cookbook Dev Log</a></blockquote>
      </div>
    </div>
  </div>
</div>
