// DEFAULT VARIABLES /////////////////////
$background-color: rgb(37, 37, 37);
$padding: 5px 10%;
$font-color: white;
//////////////////////////////////////////

$component-padding: $padding;

$navbar-background-color: $background-color;
$navbar-padding: $padding;
$navbar-font-color: $font-color;

$footer-background-color: $background-color;
$footer-padding: $padding;
