/*       
             Flat design colors
    https://htmlcolorcodes.com/color-chart/
*/

$primary-whitesmoke: rgb(245, 245, 245);
$primary-whitesmoke--darker: rgb( 238, 238, 238 );
$primary-whitesmoke--darker-2: rgb(235, 235, 235);

$primary-graphite: rgb(33, 33, 33);
$primary-graphite--lighter: rgb(66, 66, 66);

$accent-cork: rgb(200, 174, 124);
$accent-cork--lighter: rgb(219, 195, 150);

$global-padding: 5px 10%;