/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Roboto&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0px;
}

.component {
  padding: 5px 10%;
  // viewport_height - navbar - footer //
  min-height: calc(100vh - 50px - 64px); 
}

.component--in-middle-of-the-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 14px;
  padding: 5px 10px;
  transition: background-color 100ms;
  border: none;
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.flex-row--space-between {
  justify-content: space-between;
}

.flex-row--justify-center {
  justify-content: center;
}