@import '../../../variables';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-graphite;
  padding: $global-padding;
  font-size: 14px;
}

.button {
  background-color: transparent;
  color: $primary-whitesmoke;
}

.link {
  padding: 5px;
  margin: 0px;
}

.button--created-by {
  display: flex;
  .button__author {
    margin: 0px 4px;
    color: $accent-cork;
  }
}
.button--created-by:hover, .button--mail:hover {
  color: white;
  .button__author {
    color: $accent-cork--lighter;
  }
}


