@import '../../../variables';

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-2;
  padding: $component-padding;
  color: $darker-light-font;
  font-size: 14px;
}

.link {
  padding: 5px;
  margin: 0px;
}

.link.created-by {
  display: flex;
  .author {
    margin: 0px 4px;
    color: $darker-accent-color;
  }
}
.link.created-by:hover, .link.mail:hover {
  color: $light-font;
  .author {
    color: $accent-color;
  }
}


